/* "bg-white rounded-3xl flex flex-col p-5  w-11/12 " */

.login_con{
    /* background-color: white; */
    box-shadow:  0 0 0 8px rgb(204, 216, 202);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    align-items: center;

}